<!doctype html>
<title>Fail</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
	<img class = "img-responsive" src="/static/title2.png" alt="title2.php" style="width:"pixels"; height:65px;">
  <center><h1>Mighty Campaign Creation Tool</h1></center>
  <center><h2 class="text-center"></h2>
	<span style="font-weight: 800;">Campaign Creation has been Failed!</span></center>
	&nbsp;
	&nbsp;
	<center><span style="font-weight: 800;">Possible reasons on what may caused it:</span></center>
	&nbsp;
	&nbsp;
	<center><span style="font-weight: 1200;">The Advertiser Id does not exist or You have pushed to the wrong seat!</span></center>
	&nbsp;
	&nbsp;
	<center><span style="font-weight: 1200;">You have a wrong Site Id!</span></center>
	&nbsp;
	&nbsp;
	<center><span style="font-weight: 1200;">Fail to Active all the default ads!</span></center>
	&nbsp;
	&nbsp;
	<center><span style="font-weight: 800;">Please make changes to the Advertiser ID or choose a different DCM seat when reupload.</span> </center>
	&nbsp;

	<center><p><a href="http://localhost:5000/">Re-upload File</a></p></center>


	
{% endif %}